
<!-- preloader -->
<div class="load">
  <div class="loader"></div>
</div>



<section id="hero_8">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center p-t-100 p-b-100 wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<h1 class="m-b-40">Want to make a landing page, <br> let's start with <span class="f-w-700">leadon</span></h1>
				<% if !user_signed_in? %>
				<a><%= link_to "Essayer gratuitement" , new_user_registration_path , class: "btn btn-lg white" %>
				</a>
				<a><%= link_to "Acheter maintenant" , new_user_registration_path , class: "btn btn-lg white" %>
				</a>
				<% end  %>
			</div>

		</div>
	</div>
</section>

<!-- Features Section -->
<section id="features_1">
	<div class="container">
		<div class="row text-center m-b-20">
			<!-- Feature #01 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-mobile font-40"></span></div>
				<h4 class="m-t-10 no-m-b">Fully Responsive</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>


			<!-- End Feature #01 -->

			<!-- Feature #02 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-settings font-40"></span></div>
				<h4 class="m-t-10 no-m-b">SEO Optimized</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>
			<!-- End Feature #02 -->

			<!-- Feature #03 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-paint-bucket font-40"></span></div>
				<h4 class="m-t-10 no-m-b">Simple Design</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>
			<!-- End Feature #03 -->

			<!-- Feature #04 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-panel font-40"></span></div>
				<h4 class="m-t-10 no-m-b">Flexible Coding</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>
			<!-- End Feature #04 -->
		</div>
		<div class="row text-center">
			<!-- Feature #05 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-email font-40"></span></div>
				<h4 class="m-t-10 no-m-b">Mailchimp Integration</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>
			<!-- End Feature #05 -->

			<!-- Feature #06 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-pencil-alt font-40"></span></div>
				<h4 class="m-t-10 no-m-b">Commented Code</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>
			<!-- End Feature #06 -->

			<!-- Feature #07 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-help-alt font-40"></span></div>
				<h4 class="m-t-10 no-m-b">Well Documented</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>
			<!-- End Feature #07 -->

			<!-- Feature #08 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div><span class="theme-col ti-write font-40"></span></div>
				<h4 class="m-t-10 no-m-b">Easy Customization</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum,</p>
			</div>
			<!-- End Feature #08 -->
		</div>
	</div>
</section>
<!-- End Features Section -->

<!-- Content section -->
<section id="product" class="light-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6 left-content">
				<!-- Large Title -->
				<h2>Explore awesomeness</h2>
				<!-- Small title -->
				<p class="h4">A product that will help you to make better conversion report on time.</p>
				<!-- Text content -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, praesentium debitis ex sapiente, rem, quis laborum et fugiat autem enim ipsam. Temporibus nostrum, ipsum illo eligendi fugiat porro odit perspiciatis! ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, distinctio</p>
				<!-- Buttons -->
				<a href="#" class="btn">Reveal all features</a>
				<a href="#" class="btn btn-secondary">Signup for trial</a>
			</div>
			<div class="col-md-6">
				<!-- Right side image -->
				<%= image_tag ('content-1.jpg'),  alt: "image" , class: "img-responsive" %>
			</div>
		</div>
	</div>
</section>
<!-- End Content section -->

<!-- Feature Section -->
<section id="features_6">
	<div class="container">
		<div class="row">
			<div class="col-md-5 left-content-img">
				<!-- Left Side Image -->
				<%= image_tag ('content-2.jpg'),  alt: "image" , class: "img-responsive" %>
			</div>

			<div class="col-md-7">

				<!-- Title -->
				<h2 class="no-m-b">Have A Look On LeadOn</h2>
				
				<!-- Description -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa molestias ea nisi deserunt temporibus eveniet alias repellendus suscipit pariatur, vero possimus id reiciendis sapiente molestiae unde corporis nam quia.</p>

				<!-- Feature #01 -->
				<div class="f-box m-b-20">
					<div class="f-icon"><span class="ti-layers-alt"></span></div>
					<div class="f-text">
						<h5>Easy To Customize Sections</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolore praesentium necessitatibus iste modi quaerat accusantium adipisci dolor, optio excepturi.</p>
					</div>
				</div>
				<!-- End Feature #01 -->
				<!-- Feature #02 -->
				<div class="f-box m-b-20">
					<div class="f-icon"><span class="ti-mobile"></span></div>
					<div class="f-text">
						<h5>Modern user interface</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolore praesentium necessitatibus iste modi quaerat accusantium adipisci dolor, optio excepturi.</p>
					</div>
				</div>
				<!-- End Feature #02 -->

				<!-- Feature #03 -->
				<div class="f-box">
					<div class="f-icon"><span class="ti-star"></span></div>
					<div class="f-text">
						<h5>Cross Browser Tested</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolore praesentium necessitatibus iste modi quaerat accusantium adipisci dolor, optio excepturi.</p>
					</div>
				</div>
				<!-- End Feature #03 -->
			</div>
		</div>
	</div>
</section>
<!-- End Feature Section -->

<!-- Statistic Counter -->
<section id="counter_1" class="no-p-t no-p-b">
<div class="overlay p-t-100 p-b-100">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-3">
				<!-- First Number -->
				<div class="count">60</div>
				<div class="title">team members</div>
			</div>
			<div class="col-sm-3">
				<!-- Second Number -->
				<div class="count">2347</div>
				<div class="title">Projects Completed</div>
			</div>
			<div class="col-sm-3">
				<!-- Third Number -->
				<div class="count">4713</div>
				<div class="title">cups of coffee</div>
			</div>
			<div class="col-sm-3">
				<!-- Fourth Number -->
				<div class="count">624</div>
				<div class="title">reviews</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End Statistic Counter -->

<!-- Pricing Secrion -->
<section id="pricing_2">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h2>Plans &amp; pricing</h2>

				<!-- Description -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tempora ut maiores, sint dolor quas numquam, voluptatibus labore necessitatibus officia tenetur.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left-content">
				<!-- Left Content Title -->
				<h5 class="f-w-700">Are you ready to buy</h5>

				<!-- Left Content -->
				<p class="lead">Lorem ipsum dolor sit amet, consec tetur adipi sicing elit. Voluptas cumque totam cum archi tecto adipisci volup tatem, conse quatur conse ctetur, even iet quo nihil, amet. Fugit elig endi dol orem digni ssimos tem pora fugiat nam even iet nihil.</p>

				<!-- Button -->
				<a href="#" class="btn btn-sm">Tell me more!</a>

			</div>

			<!-- Pricing Plan #01 -->
			<div class="col-md-4 plans wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<div class="plan-container one">
					<ul class="plan-details">
						<!-- Plan Name -->
						<li class="title">Startup</li>
						<!-- Amount -->
						<li class="price">$<span>60</span></li>
						<!-- More Info -->
						<li><b>Single user</b> Analytics</li>
						<li><b>Forum</b> access</li>
						<li><b>Email</b> Support</li>
						<!-- Order Button -->
						<li class="button"><a href="#" class="btn">Order Now</a></li>
					</ul>
				</div>
			</div>
			<!-- End Pricing Plan #01 -->

			<!-- Pricing Plan #02 -->
			<div class="col-md-4 plans wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<div class="plan-container two">
					<ul class="plan-details">
						<li class="title">Premium Pack</li>
						<li class="price">$<span>240</span></li>
						<li><b>Multi user</b> Analytics</li>
						<li><b>Community</b> member</li>
						<li><b>Email / Chat Support</b></li>
						<li class="button"><a href="#" class="btn btn-secondary">Order Now</a></li>
					</ul>
				</div>
			</div>
			<!-- End Pricing Plan #02 -->
		</div>
	</div>
</section>
<!-- End Pricing Secrion -->

<!-- Image Gallery Section -->
<section id="image-gallery" class="light-bg">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h2>Responsive Image Gallery</h2>
				<!-- description -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, nesciunt doloremque, nostrum quisquam perspiciatis facilis sunt illum amet quas ipsum odit accusamus natus fugit sed eligendi rerum magni. Iusto, dolores.</p>
			</div>
		</div>
		
		<div class="row">
			<ul class="list-unstyled col-md-12" id="screenshots">
				<!-- Image #01 -->

				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #02 -->

				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #03 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #04 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #05 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #06 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #07 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #08 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

			</ul>
		</div>
	</div>
</section>
<!-- End Image Gallery Section -->

<!-- Testimonial section -->
<section id="testimonial_2" class="no-p-t no-p-b">
	<div class="overlay p-t-80 p-b-80">
		<div class="container">
			<div class="row">
				<!-- Testimonial Title -->
				<h3 class="col-md-12 col-sm-12 text-center">
					Clients saying about us
				</h3>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 testimonial-carousel owl-carousel owl-theme text-center">
					<!-- Testimonial #01 -->
					<div class="item testimonail">
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime et ea illo aliquam quisquam est nesciunt commodi nisi velit facere ipsam nobis dolor, totam tempore voluptas provident blanditiis minima error.</p>
						<p class="ratings">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star-o"></span>
						</p>
						<h5 class="no-m-b">Chief</h5>
						<p class="h6">CEO, eden inc.</p>
					</div>
					<!-- End Testimonial #01 -->

					<!-- Testimonial #02 -->
					<div class="item testimonail">
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, aliquam dolor, laborum quas possimus ipsam quisquam repudiandae doloribus esse culpa obcaecati, delectus temporibus ipsa, placeat sit voluptatibus mollitia modi eum!</p>
						<p class="ratings">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star-half-full"></span>
						</p>
						<h5 class="no-m-b">Chief</h5>
						<p class="h6">CEO, place company name</p>
					</div>
					<!-- End Testimonial #02 -->

					<!-- Testimonial #03 -->
					<div class="item testimonail">
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nesciunt maiores unde iste, asperiores aperiam porro non quasi modi ex eveniet vero nemo, eaque quam architecto dolorem! Adipisci, harum, possimus.</p>
						<p class="ratings">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</p>
						<h5 class="no-m-b">Chief</h5>
						<p class="h6">CEO, eden group</p>
					</div>
					<!-- End Testimonial #03 -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Testimonial section -->

<!-- Team Section -->
<section id="team_1" class="p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-md-offset-2 text-center m-b-40">
				<!-- Title -->
				<h2>Our team members</h2>
				<!-- Description -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet officia ipsum similique delectus? Iure unde possimus quos ad beatae, eaque at inventore deserunt quisquam, omnis molestias perspiciatis quaerat doloremque vitae?</p>
			</div>
		</div>
		<div class="row team-member">
			<!-- Team Member #01 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
				<!-- Member Image -->
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<!-- Member Social Account -->
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<!-- Member Name -->
				<h4>John Doe</h4>
				<!-- Member Designation -->
				<p>CEO, Abc inc.</p>
			</div>
			<!-- End Team Member #01 -->

			<!-- Team Member #02 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<h4>John Doe</h4>
				<p>CEO, Abc inc.</p>
			</div>
			<!-- End Team Member #02 -->

			<!-- Team Member #03 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<h4>John Doe</h4>
				<p>CEO, Abc inc.</p>
			</div>
			<!-- End Team Member #03 -->

			<!-- Team Member #04 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="2000ms" data-wow-duration="1500ms">
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<h4>John Doe</h4>
				<p>CEO, Abc inc.</p>
			</div>
			<!-- End Team Member #04 -->
		</div>
	</div>
</section>
<!-- End Team Section -->

<!-- Partners Section -->
<section id="partners_1" class="light-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h3>Have a look on it!</h3>
				<!-- Description -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id numquam, provident omnis ullam! Omnis quos accusamus voluptatum. Porro molestiae et minus, aperiam maxime</p>
			</div>
		</div>
		<div class="row text-center partner-logo">
			<!-- Logo Images -->
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/1.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/2.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/3.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/4.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/5.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/6.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/7.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/8.png') , alt: 'partner logo' %></div>
			
		</div>
	</div>
</section>
<!-- End Partners Section -->

<!-- Call To Action Section -->
<section id="cta_2" class="theme-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-md-offset-2 text-center wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1000ms">
				<!-- Title -->
				<h3>LeadOn - Multi-Purpose Landing Page</h3>
				<!-- Content -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, minima eveniet sequi, eos iste molestiae reprehenderit</p>
				<!-- Button -->
				<a href="#" class="btn btn-secondary btn-lg">Select LeadOn</a>
			</div>
		</div>
	</div>
</section>
<!-- End Call To Action Section -->

<!-- Contact Form Section -->
<section id="contact_1">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Contact Large Title -->
				<h3>Hey! are you ready?</h3>
				<!-- Description -->
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium culpa deleniti provident illo soluta nemo, eius sapiente tenetur quis!</p>
			</div>
		</div>
		<div class="row">


			<div class="col-md-6 col-sm-12 text wow fadeInRight" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<!-- Right Side Title -->
				<h4>We are always happy to help you</h4>
				<!-- Text -->
				<p class="m-b-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cumque, adipisci in. Error nostrum aperiam sed laudantium, nam libero. Doloribus officiis repellat eius sed reiciendis molestiae sapiente illum nulla aliquid.</p>
				<!-- Address -->
				<h5><span class="ti-location-pin"></span> 123 king street, melbourne</h5>
				<!-- Phone -->
				<h5><span class="ti-mobile"></span> +3-456 789 1230</h5>
				<!-- Email -->
				<h5><span class="ti-email"></span> autoreply@mysite.com</h5>
				<!-- Timing -->
				<h5><span class="ti-time"></span> Mon to Sat 6 AM to 10 PM</h5>
			</div>
		</div>
	</div>
</section>
<!-- End Contact Form Section -->

<% if user_signed_in? %>
   <span style="color:red"> Your trial period will expire on <%= @value %></span>  Days. <br>
<% end %>


<!-- Display the countdown timer in an element -->
<p id="demo"></p>

<script>
// Set the date we're counting down to

var countDownDate = new Date("<%= @countdown_date %>").getTime();
if (countDownDate == NaN)
	alert("nok");
else
{
// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();


  // Find the distance between now an the count down date
  var distance =   (countDownDate + 423000000 )- now ;
  // var distance = <%= @days %>;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // var days = <%= @dd %>;
  // var hours = <%= @hh %>;
  // var minutes = <%= @mm %>;
  // var seconds = <%= @ss %>;

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);

}
</script>


            

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Se connecter à MonPrepa</h4>
        <div class=modal-body>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-group">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control'%>
			  </div>

			  <div class="form-group">
			    <%= f.label :password, "Mot de passe" %><br />
			    <%= f.password_field :password, autocomplete: "off" , class: 'form-control' %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me  %>
			      <%= f.label :remember_me , "Se rappeler de moi" %>
			    </div>
			  <% end -%>
			  	<div class="form-group text-center">
	                <div class="col-xs-12 p-b-20">
	                    <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
	                </div>
	            </div>
                        <!-- <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                    <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Vous n'avez pas encore de compte? <a> <b> <%= link_to "S'inscrire" , new_user_registration_path ,class: "text-info m-l-5" %></b></a>
                            </div>
                        </div>
			<% end %>

        </div>
      </div>
    </div>
  </div>
</div>

