
<!-- preloader -->
<div class="load">
  <div class="loader"></div>
</div>



<section id="hero_8">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center p-t-100 p-b-100 wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<h1 class="m-b-60"><!-- Documents et Vidéos de révision en ligne pour les classes préparatoires <br> -->  <span class="f-w-700">Commencer avec MonPrepa</span></h1>
				<% if !user_signed_in? %>

					<a><%= link_to "Essayer gratuitement" , new_user_registration_path , class: "btn btn-lg white" %>
					</a>
					<a><%= link_to "Acheter maintenant" , new_user_registration_path , class: "btn btn-lg white" %>
					</a>
					<br>
				
				<% end  %>

				<p id="counter_down"></p>
				<p id="payment_btn" style="visibility: hidden;"> <%= link_to "Payer maintenant" , payment_path , class: "btn btn-secondary"%></p>
				
			</div>
		</div>
	</div>
</section>



<!-- Features Section -->
<section id="features_1">
	<div class="container">
		<div class="row text-center m-b-20">
				<!-- Feature #01 -->
				<div class="col-md-3 col-sm-6 f-body-2">
					<div><span class="theme-col font-60">MP</span></div>
					<h4 class="m-t-10 no-m-b">Math-Physique</h4>
				</div>
				<!-- End Feature #01 -->

				<!-- Feature #02 -->
				<div class="col-md-3 col-sm-6 f-body-2">
					<div><span class="theme-col font-60">PC</span></div>
					<h4 class="m-t-10 no-m-b">Physique-Chimie</h4>
				</div>
				<!-- End Feature #02 -->

				<!-- Feature #03 -->
				<div class="col-md-3 col-sm-6 f-body-2">
					<div><span class="theme-col  font-60">PT</span></div>
					<h4 class="m-t-10 no-m-b">Technologie</h4>
				</div>
				<!-- End Feature #03 -->

				<!-- Feature #04 -->
				<div class="col-md-3 col-sm-6 f-body-2">
					<div><span class="theme-col  font-60">BG</span></div>
					<h4 class="m-t-10 no-m-b">Biologie-Géologie</h4>
				</div>
				<!-- End Feature #04 -->
			</div>
			<br>
			<br>
			<div class="row text-center m-b-20"> 

				<div class="col-md-3 col-sm-6 f-body-2" style="visibility: hidden;">
					<div><span class="theme-col font-60">PC</span></div>
					<h4 class="m-t-10 no-m-b">Physique-Chimie</h4>
				</div>

				<div class="col-md-3 col-sm-6 f-body-2">
					<h4 class="m-t-10 no-m-b" style="font-size: 80px;">1ère</h4>
				</div>

				<div class="col-md-3 col-sm-6 f-body-2">
					<h4 class="m-t-10 no-m-b" style="font-size: 80px;">2ème</h4>
				</div>

			</div>


		

	</div>
</section>
<!-- End Features Section -->

<!-- Content section -->
<section id="product" class="light-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6 left-content">
				<!-- Large Title -->
				<h2>Corrigé d'examen</h2>
				<!-- Small title -->
				<p class="h4">Résumés, Série d'exercices, Devoirs surveillés, Examens et Concours avec corrigés.</p>
				<!-- Text content -->
				<p class="lead">Les énoncés des différents sujets sont clairs, les corrections sont rédigées par les enseignats des institutions préparatoires.  </p>
				<!-- Buttons -->
				<a  data-target="#myModal_ex_enonce" role="button"  data-toggle="modal" class="btn">Voir exemple Enéoncé</a>
				<a  data-target="#myModal_ex_corrige" role="button"  data-toggle="modal" class="btn btn-secondary">Voir exemple Corrigé</a>
			</div>
			<div class="col-md-6">
				<!-- Right side image -->
				<%= image_tag ('content-1.jpg'),  alt: "image" , class: "img-responsive" %>
			</div>
		</div>
	</div>
</section>
<!-- End Content section -->

<!-- Feature Section -->
<section id="features_6">
	<div class="container">
		<div class="row">
			<div class="col-md-5 left-content-img">
				<!-- Left Side Image -->
				<%= image_tag ('content-2.jpg'),  alt: "image" , class: "img-responsive" %>
				<%#= video_tag "/assets/formation.wmv", :size => "320x240", :controls => true %>
			</div>

			<div class="col-md-7">

				<!-- Title -->
				<h2 class="no-m-b">Vidéo de révision</h2>
				
				<!-- Description -->
				<p class="lead">Des corrections de sujets par des enseignats des différents établissements préparatoires</p>

				<!-- Feature #01 -->
				<div class="f-box m-b-20">
					<div class="f-icon"><span class="ti-layers-alt"></span></div>
					<div class="f-text">
						<h5>Correction détaillée</h5>
						<p>Nos enseignats offrent une correction détaillée des examens et des concours, ils essayent d'expliquer tous les trucs.   </p>
					</div>
				</div>
				<!-- End Feature #01 -->
				<!-- Feature #02 -->
				<div class="f-box m-b-20">
					<div class="f-icon"><span class="ti-mobile"></span></div>
					<div class="f-text">
						<h5>Résolution HD</h5>
						<p>Pour vous offrir une expérience de visionnage optimale, MonPrepa fournit une qualité en haute définition. </p>
					</div>
				</div>
				<!-- End Feature #02 -->

				<!-- Feature #03 -->
				<div class="f-box">
					<div class="f-icon"><span class="ti-star"></span></div>
					<div class="f-text">
						<h5>Corrigé tapé</h5>
						<p>Chaque vidéo est fournie avec un contenu PDF pour l'utiliser comme un support de révision.</p>
					</div>
				</div>
				<!-- End Feature #03 -->
			</div>
		</div>
	</div>
</section>
<!-- End Feature Section -->

<!-- Statistic Counter -->
<section id="counter_1" class="no-p-t no-p-b">
<div class="overlay p-t-100 p-b-100">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-3">
				<!-- First Number -->
				<div class="count">60</div>
				<div class="title">videos de révision</div>
			</div>
			<div class="col-sm-3">
				<!-- Second Number -->
				<div class="count">200</div>
				<div class="title">Cours</div>
			</div>
			<div class="col-sm-3">
				<!-- Third Number -->
				<div class="count">45</div>
				<div class="title">Concours corrigés</div>
			</div>
			<div class="col-sm-3">
				<!-- Fourth Number -->
				<div class="count">120</div>
				<div class="title">Devoirs surveillés</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End Statistic Counter -->

<!-- Pricing Secrion -->
<section id="pricing_2">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h2>Nos offres</h2>

				<!-- Description -->
				<p class="lead">MonPrepa vous présente un prix exceptionnel.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left-content">
				<!-- Left Content Title -->
				<h5 class="f-w-700">Vous êtes prêts pour acheter ?</h5>

				<!-- Left Content -->
				<p class="lead">Afin de faciliter l'inscription à notre plateforme, MonPrepa vous offre 3 modes de paiement possibles:</p>
				<p class="lead"> Carte E-dinar</p>
				<p class="lead"> Carte bancaire </p>
				<p class="lead"> Paiement par poste</p>

				<!-- Button -->
				<!-- <a href="#" class="btn btn-sm">Tell me more!</a> -->

			</div>

			<!-- Pricing Plan #01 -->
			<div class="col-md-4 plans wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<div class="plan-container one">
					<ul class="plan-details">
						<!-- Plan Name -->
						<li class="title">1ère ou 2ème</li>
						<!-- Amount -->
						<li class="price"><span>60</span>dinars</li>
						<!-- More Info -->
						<li><b>Devoirs</b></li>
						<li><b>Tests</b> </li>
						<li><b>Cours</b> </li>
						<!-- Order Button -->
						<li class="button"><%= link_to "Acheter maintenant" , new_user_registration_path ,class: "btn" %></li>
					</ul>
				</div>
			</div>
			<!-- End Pricing Plan #01 -->

			<!-- Pricing Plan #02 -->
			<div class="col-md-4 plans wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<div class="plan-container two">
					<ul class="plan-details">
						<li class="title">Concours</li>
						<li class="price"><span>90</span>dinars</li>
						<li><b>Devoirs</b></li>
						<li><b>Cours</b> </li>
						<li><b>Concours corrigés</b> </li>
						<li class="button"><%= link_to "Acheter maintenant" , new_user_registration_path ,class: "btn btn-secondary" %></li>
					</ul>
				</div>
			</div>
			<!-- End Pricing Plan #02 -->
		</div>
	</div>
</section>
<!-- End Pricing Secrion -->

<!-- Image Gallery Section -->
<section id="image-gallery" class="light-bg">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h2>Gallerie</h2>
				<!-- description -->
				<p class="lead">Liste des établissements préparatoire.</p>
			</div>
		</div>
		
		<div class="row">
			<ul class="list-unstyled col-md-12" id="screenshots">
				<!-- Image #01 -->

				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #02 -->

				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #03 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #04 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #05 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #06 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #07 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

				<!-- Image #08 -->
				<li class="col-md-3 col-sm-6 no-p-r no-p-l">
					<a href="assets/gallery/1.jpg" data-lightbox-gallery="screenshots-gallery">
						<span class="cover"></span>
						<img src="assets/gallery/1.jpg" class="img-responsive" alt="image-gallery">
					</a>
				</li>

			</ul>
		</div>
	</div>
</section>
<!-- End Image Gallery Section -->

<!-- Testimonial section -->
<section id="testimonial_2" class="no-p-t no-p-b">
	<div class="overlay p-t-80 p-b-80">
		<div class="container">
			<div class="row">
				<!-- Testimonial Title -->
				<h3 class="col-md-12 col-sm-12 text-center">
					Ce que disent les utilisateurs
				</h3>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">

					<!-- Testimonial #01 -->
					<div class="item testimonail">
						<p class="lead">MonPrepa est le premier de son genre en Tunisie ! Enfin je peux révisre pour le concours sans problèmes de tirage et d'impression.</p>
						<p class="ratings">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star-half-full"></span>
						</p>
						<h5 class="no-m-b">Etudiant à IPEIT</h5>
						<!-- <p class="h6">CEO, place company name</p> -->
					</div>
					<!-- End Testimonial #01 -->

					<!-- Testimonial #02 -->
					<div class="item testimonail">
						<p class="lead">C'est un seite de e-learning très magnifique !!! J'ai trouvé tous les cours nécessaires ainsi que les devoirs.</p>
						<p class="ratings">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star-o"></span>
						</p>
						<h5 class="no-m-b">Etudiant à IPEIS</h5>
						<!-- <p class="h6">CEO, eden inc.</p> -->
					</div>
					<!-- End Testimonial #02 -->


					<!-- Testimonial #03 -->
					<div class="item testimonail">
						<p class="lead">Et finalement une plateforme en ligne pour les étudiants de l'école préparatoire. Merci pour les vidéos de correction des concours :) </p>
						<p class="ratings">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</p>
						<h5 class="no-m-b">Etudiant à IPEIM</h5>
						<!-- <p class="h6">CEO, eden group</p> -->
					</div>
					<!-- End Testimonial #03 -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Testimonial section -->

<!-- Team Section -->
<section id="team_1" class="p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-md-offset-2 text-center m-b-40">
				<!-- Title -->
				<h2>Notre équipe</h2>
				<!-- Description -->
				<!-- <p class="lead">L'équipe MonPrepa vous offre</p> -->
			</div>
		</div>
		<div class="row team-member">
			<!-- Team Member #01 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
				<!-- Member Image -->
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<!-- Member Social Account -->
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<!-- Member Name -->
				<h4>Saif Ellah Lajmi</h4>
				<!-- Member Designation -->
				<p>Directeur</p>
			</div>
			<!-- End Team Member #01 -->

			<!-- Team Member #02 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<h4>Abderrahmen Masmoudi</h4>
				<p>Ingénieur informatique</p>
			</div>
			<!-- End Team Member #02 -->

			<!-- Team Member #03 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<h4>Chams Hamza</h4>
				<p>Préparatrice de documents</p>
			</div>
			<!-- End Team Member #03 -->

			<!-- Team Member #04 -->
			<div class="col-md-3 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="2000ms" data-wow-duration="1500ms">
				<%= image_tag ('team/1.jpg') , alt: 'team' %>
				<ul class="list-unstyled list-inline social">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
				</ul>
				<h4>Imen Rached</h4>
				<p>Préparatrice de documents</p>
			</div>
			<!-- End Team Member #04 -->
		</div>
	</div>
</section>
<!-- End Team Section -->

<!-- Partners Section -->
<section id="partners_1" class="light-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h3>Nos partenaires!</h3>
				<!-- Description -->
				<p class="lead"></p>
			</div>
		</div>
		<div class="row text-center partner-logo">
			<!-- Logo Images -->
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/1.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/2.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/3.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/4.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/5.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/6.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/7.png') , alt: 'partner logo' %></div>
			<div class="col-sm-3 col-xs-6"><%= image_tag ('partners/8.png') , alt: 'partner logo' %></div>
			
		</div>
	</div>
</section>
<!-- End Partners Section -->

<!-- Call To Action Section -->
<!-- <section id="cta_2" class="theme-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-md-offset-2 text-center wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1000ms"> -->
				<!-- Title -->
				<!-- <h3>LeadOn - Multi-Purpose Landing Page</h3>
				Content
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, minima eveniet sequi, eos iste molestiae reprehenderit</p> -->
				<!-- Button -->
<!-- 				<a href="#" class="btn btn-secondary btn-lg">Select LeadOn</a>
			</div>
		</div>
	</div> -->
<!-- </section> -->
<!-- End Call To Action Section -->

<!-- Contact Form Section -->
<section id="contact_1">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Contact Large Title -->
				<h3>Contact</h3>
				<!-- Description -->
				<!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium culpa deleniti provident illo soluta nemo, eius sapiente tenetur quis!</p> -->
			</div>
		</div>
		<div class="row">


			<div class="col-md-6 col-sm-12 text wow fadeInRight" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<!-- Right Side Title -->
				<h4>Nous sommes heureux de vous aider</h4>
				<!-- Text -->
				<p class="m-b-40">L'équipe MonPrepa sera disponible pour répondre à vos questions.</p>
				<!-- Address -->
				<h5><span class="ti-location-pin"></span> Route Gremda Km 0.5, Immeuble Medina Centre</h5>
				<!-- Phone -->
				<h5><span class="ti-mobile"></span> +216 27 34 55 21</h5>
				<!-- Email -->
				<h5><span class="ti-email"></span> contact@monprepa.tn</h5>
				<!-- Timing -->
				<h5><span class="ti-time"></span> Lundi jusqu'à Samedi de 08 AM à 18 PM</h5>
			</div>
		</div>
	</div>
</section>
<!-- End Contact Form Section -->


<script>


// Set the date we're counting down to
var countDownDate = new Date("<%= @countdown_date %>").getTime();
if (countDownDate == NaN)
	alert("nok");
else
{
// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();



  // Find the distance between now an the count down date 5 days (Difference 2 hours)
  var distance =   (countDownDate + 266400000)- now ;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);


  if (!days)
  {
  	// Display Empty if days is null
  	document.getElementById("counter_down").innerHTML = "";
  }
  
  else
  {
  	// Display the result in the element
  document.getElementById("counter_down").innerHTML = "<h1>" + days + "d " + hours + "h " + minutes + "m " + seconds + "s " + "</h1>";
  document.getElementById("payment_btn").style.visibility = "visible" ;
  }
  

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("counter_down").innerHTML = "<h1>Votre période d'essai a expiré !! </h1> <br>"  ;
    document.getElementById("payment_btn").style.visibility = "visible" ;
  }
}, 1000);

}
</script>


            
<style type="text/css">
	#error-container {
     margin-top:10px;
     position: fixed;
}
</style>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Se connecter à MonPrepa</h4>
        <div class=modal-body>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-group">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control'%>
			  </div>

			  <div class="form-group">
			    <%= f.label :password, "Mot de passe" %><br />
			    <%= f.password_field :password, autocomplete: "off" , class: 'form-control' %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me  %>
			      <%= f.label :remember_me , "Se rappeler de moi" %>
			    </div>
			  <% end -%>
			  	<div class="form-group text-center">
	                <div class="col-xs-12 p-b-20">
	                    <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
	                </div>

                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Vous n'avez pas encore de compte? <a> <b> <%= link_to "S'inscrire" , new_user_registration_path ,class: "text-info m-l-5" %></b></a>
                            </div>
                        </div>
			<% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>



<div class="modal fade" id="myModal_ex_enonce">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enoncé Concours Physique 2016</h4>
        <div class=modal-body>
        	<div class="p-20">
	            <p><iframe src=<%= Document.last.pdf_file_corrige %>  height="480" width="100%" > </iframe></p>
	        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal_ex_corrige">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Corrigé Concours Physique 2016</h4>
        <div class=modal-body>
        	<div class="p-20">
	            <p><iframe src=<%= Document.last.pdf_file_enonce %>  height="480" width="100%" > </iframe></p>
	        </div>

        </div>
      </div>
    </div>
  </div>
</div>

