<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="roziek">	
<meta name="description" content="MonPrepa est une plateforme de révision en ligne dédiée pour les étudiants en cycle préparatoire aux études d'ingénieur."/>
<meta name="keywords" content="monprepa, révision, préparatoire, ingénieur, série, examan, concours, devoir, correction, corrigé, phisique, analyse, algèbre, chimie, informatique, biologie, tunisie, géologie, conception, automatique, institue, étude">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MonPrepa - Révision pour cycle préparatoire</title>

<!-- Favicon and Touch icons  -->
<link rel="apple-touch-icon" sizes="57x57" href="assets/page_vitrine/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/page_vitrine/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/page_vitrine/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/page_vitrine/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/page_vitrine/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/page_vitrine/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/page_vitrine/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/page_vitrine/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/page_vitrine/icons/apple-icon-180x180.png">







<link rel="manifest" href="img/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">



</head>
<body>
<!-- preloader -->
<div class="load">
	<div class="loader">
	</div>
</div>


<section id="hero_8">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center p-t-100 p-b-100 wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<h1 class="m-b-40">Réviser le cycle préparatoire <br> Commencer avec <span class="f-w-700">MonPrepa</span></h1>
				<a href="#" class="btn btn-lg white" data-toggle="modal" data-target="#myModal">Essayer maintenant</a>

				<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
							  <div class="modal-content mos_formpopup">
									<div id="signup_1" class="signup-form">

											<!-- Form Title -->
											<h3>Lancement officiel le 03 Septembre 2018</h3>
											<h4>Soyer le premier à obtenier le lien de l'application</h4>

											<!-- Form -->
											<%= form_with(model: @be_first, local: true) do |form| %>
												<% if @be_first.errors.any? %>
												    <div id="error_explanation">
												      <h2><%= pluralize(@be_first.errors.count, "error") %> prohibited this be_first from being saved:</h2>

												      <ul>
												      <% @be_first.errors.full_messages.each do |message| %>
												        <li><%= message %></li>
												      <% end %>
												      </ul>
												    </div>
											  	<% end %>
												<%= form.text_field :name, id: :name , placeholder: "Nom et prènom" , required: true %>
												<br>
												<br>
												<%= form.text_field :phone_number, id: :phone_number , placeholder: "Numéro de téléphone" , required: true , maxlength: "8" , minlength: "8" , pattern: "[0-9]+" %>

												<%= form.submit 'Soyer le premier' , class: "btn btn-block m-t-20" %>

											<% end %>
											<!-- End Form -->
										</div>
							  </div>
							</div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- Features Section -->
<section id="features_1">
	<div class="container">
		<div class="row text-center m-b-20">
			<!-- Feature #01 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div class="mos_section_center"><%= image_tag ('page_vitrine/section_01.png') , alt: "Math-Physique" , class: "img-responsive center-block" %></div>
				<h4 class="m-t-10 no-m-b">Math-Physique</h4>
			</div>
			<!-- End Feature #01 -->

			<!-- Feature #02 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div class="mos_section_center"><%= image_tag ('page_vitrine/section_02.png') , alt: "Physique-Chimie" , class: "img-responsive center-block" %></div>
				<h4 class="m-t-10 no-m-b">Physique-Chimie</h4>
			</div>
			<!-- End Feature #02 -->

			<!-- Feature #03 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div class="mos_section_center"><%= image_tag ('page_vitrine/section_03.png') , alt: "Technologie" , class: "img-responsive center-block" %></span></div>
				<h4 class="m-t-10 no-m-b">Technologie</h4>
			</div>
			<!-- End Feature #03 -->

			<!-- Feature #04 -->
			<div class="col-md-3 col-sm-6 f-body-2">
				<div class="mos_section_center"><%= image_tag ('page_vitrine/section_04.png') , alt: "Biologie-Géologie" , class: "img-responsive center-block" %></div>
				<h4 class="m-t-10 no-m-b">Biologie-Géologie</h4>
			</div>
			<!-- End Feature #04 -->
		</div>

		<div class="row text-center">
			<div class="mos_bigtitle">1<sup><span>ère</span></sup> & 2<sup><span>ème</span></sup></div>
		</div>
	</div>
</section>
<!-- End Features Section -->

<!-- Content section -->
<section id="product" class="light-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6 left-content">
				<!-- Large Title -->
				<h2>Des sujets corrigés</h2>
				<!-- Small title -->
				<p class="h4">Résumés, séries d'exercices,  devoir surveillés, examens et concours.</p>
				<!-- Text content -->
				<p class="lead">Les documents sont principalement fournis par vos enseignats. <br />Les corrigés sont détaillés, clairs et parfaitement traités.</p>
				<!-- Buttons -->
				<a href="https://drive.google.com/file/d/1or2_AroWbs3xKjwXOiaaKdaPGw9DuQDf/view?usp=sharing" target="_blank" class="btn">Exemple enoncé</a>
				<a href="https://drive.google.com/file/d/146SoBprdjMutNgVa2dsclIuRvWO48WyV/view?usp=sharing" target="_blank" class="btn btn-secondary">Exemple corrigé</a>
			</div>
			<div class="col-md-6">
				<!-- Right side image -->
				<%= image_tag ('page_vitrine/screens.png') , alt: 'compatible sur tous les equipements' , class: 'img-responsive' %>
			</div>
		</div>
	</div>
</section>
<!-- End Content section -->

<!-- Feature Section -->
<section id="features_6">
	<div class="container">
		<div class="row">
			<div class="col-md-7" id="mos_video_youtube">
				<iframe height="170" src="http://www.youtube.com/embed/shdYHbLB1zY" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="col-md-5">

				<!-- Title -->
				<h2 class="no-m-b mos_title_spacing">Des séances vidéo</h2>

				<!-- Feature #01 -->
				<div class="f-box m-b-20">
					<div class="f-icon"><span class="ti-layers-alt"></span></div>
					<div class="f-text">
						<h5>Différente matières</h5>
						<p>MonPrepa ajoute toujours de nouveaux videos aucours de l'année.</p>
					</div>
				</div>
				<!-- End Feature #01 -->
				<!-- Feature #02 -->
				<div class="f-box m-b-20">
					<div class="f-icon"><span class="ti-video-camera"></span></div>
					<div class="f-text">
						<h5>Résolution HD</h5>
						<p>MonPrepa utilise du matériel audio-visuel professionel pour vous fournir des videos de bonne qualitée.</p>
					</div>
				</div>
				<!-- End Feature #02 -->

				<!-- Feature #03 -->
				<div class="f-box">
					<div class="f-icon"><span class="ti-smallcap"></span></div>
					<div class="f-text">
						<h5>Contenu saisie</h5>
						<p>Vous trouvez avec chaque video le contenu saisie dans des documents détaillés.</p>
					</div>
				</div>
				<!-- End Feature #03 -->
			</div>
		</div>
	</div>
</section>
<!-- End Feature Section -->

<!-- Statistic Counter -->
<section id="counter_1" class="no-p-t no-p-b">
<div class="overlay p-t-100 p-b-100">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-3">
				<!-- First Number -->
				<div class="count">15</div>
				<div class="title">Enseignants</div>
			</div>
			<div class="col-sm-3">
				<!-- Second Number -->
				<div class="count">8140</div>
				<div class="title">Pages</div>
			</div>
			<div class="col-sm-3">
				<!-- Third Number -->
				<div class="count">30</div>
				<div class="title">Videos</div>
			</div>
			<div class="col-sm-3">
				<!-- Fourth Number -->
				<div class="count">6522</div>
				<div class="title">Visites</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End Statistic Counter -->

<!-- Pricing Secrion -->
<section id="pricing_2">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h2>Offre</h2>

				<!-- Description -->
				<p class="lead">MonPrepa suit une politique sociale.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left-content">
				<!-- Left Content Title -->
				<h5 class="f-w-700">Essai Gratuit</h5>

				<!-- Left Content -->
				<p class="lead">MonPrepa vous donne la possibilité de voir la plateforme et le contenu pour 24 heures avant d'acheter.</p>

				<!-- Button -->
				<a href="#" class="btn btn-sm">Essayer</a>

			</div>

			<!-- Pricing Plan #01 -->
			<div class="col-md-4 plans wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<div class="plan-container one">
					<ul class="plan-details">
						<li class="title">1ère année</li>
						<li class="price"><span>6</span>dt/mois</li>
						<li>Résumés</li>
						<li>Séries d'exercices avec corrigés</li>
						<li>Devoirs surveillés avec corrigés</li>
						<li>Examens avec corrigés</li>
						<li>Des séances videos</li>
						<li>&nbsp;</li>
						<li class="button"><a href="#" class="btn">Commencer</a></li>
						<li>Paiement annuel</li>
					</ul>
				</div>
			</div>
			<!-- End Pricing Plan #01 -->

			<!-- Pricing Plan #02 -->
			<div class="col-md-4 plans wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
				<div class="plan-container one">
					<ul class="plan-details">
						<li class="title">2ème année</li>
						<li class="price"><span>8</span>dt/mois</li>
						<li>Résumés</li>
						<li>Séries d'exercices avec corrigés</li>
						<li>Devoirs surveillés avec corrigés</li>
						<li>Examens avec corrigés</li>
						<li>Des séances videos</li>
						<li>Concours avec corrigés</li>
						<li class="button"><a href="#" class="btn">Commencer</a></li>
						<li>Paiement annuel</li>
					</ul>
				</div>
			</div>
			<!-- End Pricing Plan #02 -->
		</div>
	</div>
</section>
<!-- End Pricing Secrion -->
<!-- Partners Section -->
<section id="partners_1" class="light-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Title -->
				<h3>Enseignant avec nous</h3>
				<!-- Description -->
				<p class="lead">Nous remercions infiniment les enseignants qui travaillent avec nous afin de faciliter la révision à nos chers étudiants.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 m-b-20-sm">
				<div class="white-bg radius-6 p-20 text-center">
					<div class="font-20 f-w-700 m-b-10">Mr. Ghassen ASKRI</div>
					<p>ALgèbre, <span class="mos_branche">IPEIB</span></p>
				</div>
			</div>
	
			<div class="col-md-3 m-b-20-sm">
				<div class="white-bg radius-6 p-20 text-center">
					<div class="font-20 f-w-700 m-b-10">Mr. Sadok RHAYEM</div>
					<p>Conception, <span class="mos_branche">IPEIS</span></p>
				</div>
			</div>
	
			<div class="col-md-3 m-b-20-sm">
				<div class="white-bg radius-6 p-20 text-center">
					<div class="font-20 f-w-700 m-b-10">M. Houda DERBEL</div>
					<p>Physique, <span class="mos_branche">FSS</span></p>
				</div>
			</div>
	
			<div class="col-md-3">
				<div class="white-bg radius-6 p-20 text-center">
					<div class="font-20 f-w-700 m-b-10">M. Nesrine ZOGHLEMI</div>
					<p>Automarique, <span class="mos_branche">IPEIEM</span></p>
				</div>
			</div>
		</div>

		<div class="row mos_enseign_marg">
				<div class="col-md-3 m-b-20-sm">
					<div class="white-bg radius-6 p-20 text-center">
						<div class="font-20 f-w-700 m-b-10">Mr. Hsan DHAOUEDI</div>
						<p>Analyse, <span class="mos_branche">IPEIB</span></p>
					</div>
				</div>
	
				<div class="col-md-3 m-b-20-sm">
					<div class="white-bg radius-6 p-20 text-center">
							<div class="font-20 f-w-700 m-b-10">Mr. Ahmed MASMOUDI</div>
							<p>Informatique, <span class="mos_branche">IPEIS</span></p>
					</div>
				</div>
	
				<div class="col-md-3 m-b-20-sm">
					<div class="white-bg radius-6 p-20 text-center">
							<div class="font-20 f-w-700 m-b-10">Mr. Jalel KALLEL</div>
							<p>Analyse, <span class="mos_branche">IPEIS</span></p>
					</div>
				</div>
	
				<div class="col-md-3">
					<div class="white-bg radius-6 p-20 text-center">
							<div class="font-20 f-w-700 m-b-10">M. Karama Zouari</div>
							<p>Phisiologie Animale, <span class="mos_branche">IPEIS</span></p>
					</div>
				</div>
		</div>

		<div class="row mos_enseign_marg">
				<div class="col-md-3 m-b-20-sm">
					<div class="white-bg radius-6 p-20 text-center">
						<div class="font-20 f-w-700 m-b-10">Mr. Mohamed ISMAIL</div>
						<p>Chimie, <span class="mos_branche">ISSATGB</span></p>
					</div>
				</div>
	
				<div class="col-md-3 m-b-20-sm">
					<div class="white-bg radius-6 p-20 text-center">
							<div class="font-20 f-w-700 m-b-10">Mr. Ali FRIGUI</div>
							<p>Physique, <span class="mos_branche">ISSATGB</span></p>
					</div>
				</div>
	
				<div class="col-md-3 m-b-20-sm">
					<div class="white-bg radius-6 p-20 text-center">
							<div class="font-20 f-w-700 m-b-10">M. Sellama BAHRI</div>
							<p>Biochimie, <span class="mos_branche">FST</span></p>
					</div>
				</div>
	
				<div class="col-md-3">
					<div class="white-bg radius-6 p-20 text-center">
							<div class="font-20 f-w-700 m-b-10">M. Nizar BENFRAJ</div>
							<p>Analyse, <span class="mos_branche">IPEIN</span></p>
					</div>
				</div>
		</div>

	</div>
</section>
<!-- End Partners Section -->

<!-- Call To Action Section -->
<section id="cta_2" class="theme-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-md-offset-2 text-center wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1000ms">
				<!-- Title -->
				<h3>Vous êtes enseignant ?</h3>
				<!-- Content -->
				<p class="lead">Cher enseignant, votre collaboration est fortement appréciée pour le bien de l'étudiant.</p>
				<!-- Button -->
				<a href="#" class="btn white btn-lg">Collaborer avec nous</a>
			</div>
		</div>
	</div>
</section>
<!-- End Call To Action Section -->

<!-- Contact Form Section -->
<section id="contact_1">
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				<!-- Contact Large Title -->
				<h3>Laisser nous un message</h3>
				<!-- Description -->
				<p class="lead">Contribuer avec nous dans ce projet par un message, une question ou une proposition.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 left-content wow fadeInLeft" data-wow-delay="1500ms" data-wow-duration="1500ms">
			<!-- Contact form -->
			<form action="php/contact.php" method="POST" class="form-horizontal ajaxform" id="contact">
                <input class="form-control" name="name" id="name" placeholder="Nom" type="text">
                <input class="form-control m-t-20" name="email" id="email" placeholder="Email" type="email">
                <input class="form-control m-t-20" name="number" id="number" placeholder="Numero de téléphone" type="text">
				<textarea name="message" id="message" rows="5" class="form-control m-t-20" placeholder="Votre Message"></textarea>
				<p>&nbsp;</p>
                <button id="submit" type="submit" class="btn">Envoyer le message</button>
                <p class="email-success-text hide">Formulaire soumis avec succès</p>
				<p class="email-error-text hide">Veuillez entrer des détails valides</p>
            </form>
			</div>

			<div class="col-md-6 col-sm-12 text wow fadeInRight" data-wow-delay="1500ms" data-wow-duration="1500ms">
				<!-- Right Side Title -->
				<h4>Nous sommes toujours à votre disposition</h4>
				<!-- Text -->
				<p class="m-b-40">Nous répondons à l'heure .......</p>
				<!-- Address -->
				<h5><span class="ti-location-pin"></span> Route Gremda km 0.5, <span class="mos_addres2">Immeuble Al Madina Center,</span> <span class="mos_addres2">Sfax 3027</span></h5>
				<!-- Phone -->
				<h5><span class="ti-mobile"></span> +216 27 345 521</h5>
				<!-- Email -->
				<h5><span class="ti-email"></span> contact@monprepa.tn</h5>

			</div>
		</div>
	</div>
</section>
<!-- End Contact Form Section -->


	<!-- Jquery plugins -->
<!-- 	<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>	
	<script src="js/modernizr.custom.js" type="text/javascript"></script>
	<script src="js/jquery.counterup.min.js" type="text/javascript"></script>
	<script src="js/wow.min.js" type="text/javascript"></script>
	<script src="js/owl.carousel.min.js" type="text/javascript"></script>
	<script src="js/nivo-lightbox.min.js" type="text/javascript"></script>
	<script src="js/jquery.ajaxchimp.min.js" type="text/javascript"></script>
	<script src="js/jquery.countdown.min.js" type="text/javascript"></script>
	<script src="js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="js/waypoints.min.js" type="text/javascript"></script>
	<script src="js/jquery.fitvids.js" type="text/javascript"></script> -->
	<script>
			$(document).ready(function(){
			  $("#mos_video_youtube").fitVids();
			});</script>
	

</body>

</html>

