<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message_image %>
    <%= form.text_field :message_image, id: :message_message_image %>
  </div>

  <div class="field">
    <%= form.label :message_text %>
    <%= form.text_area :message_text, id: :message_message_text %>
  </div>

  <div class="field">
    <%= form.label :message_title %>
    <%= form.text_field :message_title, id: :message_message_title %>
  </div>

  <div class="field">
    <%= form.label :administrator_id %>
    <%= form.text_field :administrator_id, id: :message_administrator_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
