<p id="notice"><%= notice %></p>

<p>
  <strong>Message image:</strong>
  <%= @message.message_image %>
</p>

<p>
  <strong>Message text:</strong>
  <%= @message.message_text %>
</p>

<p>
  <strong>Message title:</strong>
  <%= @message.message_title %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @message.administrator %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
