<p id="notice"><%= notice %></p>

<h1>Document Images</h1>

<table>
  <thead>
    <tr>
      <th>Image data</th>
      <th>Image order</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_images.each do |document_image| %>
      <tr>
        <td><%= document_image.image_data %></td>
        <td><%= document_image.image_order %></td>
        <td><%= document_image.document %></td>
        <td><%= link_to 'Show', document_image %></td>
        <td><%= link_to 'Edit', edit_document_image_path(document_image) %></td>
        <td><%= link_to 'Destroy', document_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Image', new_document_image_path %>
