<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= @document_image.image_data %>
</p>

<p>
  <strong>Image order:</strong>
  <%= @document_image.image_order %>
</p>

<p>
  <strong>Document:</strong>
  <%= @document_image.document %>
</p>

<%= link_to 'Edit', edit_document_image_path(@document_image) %> |
<%= link_to 'Back', document_images_path %>
