<%= form_with(model: institute, local: true) do |form| %>
  <% if institute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institute.errors.count, "error") %> prohibited this institute from being saved:</h2>

      <ul>
      <% institute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :institute_name %>
    <%= form.text_field :institute_name, id: :institute_institute_name %>
  </div>

  <div class="field">
    <%= form.label :institute_type %>
    <%= form.text_field :institute_type, id: :institute_institute_type %>
  </div>

  <div class="field">
    <%= form.label :institute_other %>
    <%= form.text_field :institute_other, id: :institute_institute_other %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
