<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @be_first.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @be_first.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @be_first.email %>
</p>

<%= link_to 'Edit', edit_be_first_path(@be_first) %> |
<%= link_to 'Back', be_firsts_path %>
