<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Video name</th>
      <th>Video key</th>
      <th>Video category</th>
      <th>Video tags</th>
      <th>Video section</th>
      <th>Video course</th>
      <th>Video type</th>
      <th>Video year</th>
      <th>Video data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.video_name %></td>
        <td><%= video.video_key %></td>
        <td><%= video.video_category %></td>
        <td><%= video.video_tags %></td>
        <td><%= video.video_section %></td>
        <td><%= video.video_course %></td>
        <td><%= video.video_type %></td>
        <td><%= video.video_year %></td>
        <td><%= video.video_data %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
