<p id="notice"><%= notice %></p>

<p>
  <strong>Video name:</strong>
  <%= @video.video_name %>
</p>

<p>
  <strong>Video key:</strong>
  <%= @video.video_key %>
</p>

<p>
  <strong>Video category:</strong>
  <%= @video.video_category %>
</p>

<p>
  <strong>Video tags:</strong>
  <%= @video.video_tags %>
</p>

<p>
  <strong>Video section:</strong>
  <%= @video.video_section %>
</p>

<p>
  <strong>Video course:</strong>
  <%= @video.video_course %>
</p>

<p>
  <strong>Video type:</strong>
  <%= @video.video_type %>
</p>

<p>
  <strong>Video year:</strong>
  <%= @video.video_year %>
</p>

<p>
  <strong>Video data:</strong>
  <%= @video.video_data %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
