<!-- MonPrepa Accueil --> 
            <div   id="accueil_section"> 
            <div class="row">
                <div class="col-lg-9">                
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">MonPrepa</h4>
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <% if not current_user.avatar.nil? %>
                                            <%= image_tag current_user.avatar.url(:thumb) , class: "d-flex mr-3" , width: "60" , alt: "User Image" %>
                                        <% else %>
                                            <%= image_tag ("avatar.png") , class: "d-flex mr-3" , width: "60" , alt: "User Image" %>
                                        <% end %>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Bienvenue dans notre plateforme</h5> MonPrepa est une plateforme qui réuni tous les intervenants du cycle préparatoire dans un espace communautaire. Elle s'adresse aux étudiants en cycle préparatoire dans tout le territoire tunisien.
                                        </div>
                                    </li>
                                    <center>   <%= link_to "Explorer tous les documents" , user_documents_path , class: "btn m-t-10 m-r-5 btn-rounded btn-outline-success" %></center>
                                    
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-3">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <table class="table stylish-table">

                                    <tbody>

                                        <tr class="active">
                                            <td><span class="round"><%= image_tag ("income-w.png") , alt: "user" , width: "50" %></span></td>
                                            <td>
                                                <h6>Message</h6><small class="text-muted">Vous trouvez à partir de demain des résumés de Biologie Animale. Bonne révision.</small><br><small>Equipe MonPrepa</small></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-12">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Mes documents préférés</h4>
                                <div class="table-responsive">
                                    <table class="table" id="myTable_preferred_docs">
                                    
                                        <thead>
                                            <tr>
                                                <th>Sujet</th>
                                                <th>Matière</th>                                            
                                                <th>Trimestre</th>
                                                <th>Type</th>
                                                <th>Année</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% @preferred_docs.each do |d| %>
                                            <% @document = Document.find_by_id(d.document_id) %>
                                                <tr>
                                                    <td class="text-oflo"><%= link_to @document.document_subject , @document %></td>
                                                    <td class="txt-oflo"><%= @document.document_course %></td>
                                                    <td><span class="badge badge-success badge-pill"><%= @document.document_trimestre %></span> </td>
                                                    <td class="txt-oflo"><%= @document.document_type %></td>
                                                    <td><span class="text-success"><%= @document.document_year %></span></td>
                                                </tr>

                                            <% end %>

                                        </tbody>

                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Nouveaux documents</h4>
                                <div class="table-responsive">
                                    <table class="table" id="myTable_new_docs">
                                    
                                        <thead>
                                            <tr>
                                                <th>Statut</th>
                                                <th>Sujet</th>
                                                <th>Matière</th>                                            
                                                <th>Trimestre</th>
                                                <th>Type</th>
                                                <th>Année</th>
                                                <th>Favori</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% @new_documents.each do |d| %>
                                                <tr>
                                                    <td><span class="label label-danger">Nouveau</span> </td>
                                                    <td class="text-oflo"><%= link_to  d.document_type , d %></td>
                                                    <td class="txt-oflo"><%= d.document_course %></td>
                                                    <td><span class="badge badge-success badge-pill"><%= d.document_trimestre %></span> </td>
                                                    <td class="txt-oflo"><%= d.document_type %></td>
                                                    <td><span class="text-success"><%= d.document_year %></span></td>
                                                    <%= form_for DocumentFavori.new do |f| %>
                                                        <%= f.hidden_field :user_id , value: current_user.id %>
                                                        <%= f.hidden_field :document_id , value: d.id %>
                                                        <td><button class="badge badge-success badge-pill" type="submit">Ajouter au favori</button> </td>
                                                    <% end %>
                                                </tr>

                                            <% end %>

                                        </tbody>

                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-lg-6">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Documents les plus visités</h4>
                                <div class="table-responsive">
                                    <table class="table" id="myTable_visited_docs">
                                    
                                        <thead>
                                            <tr>
                                                <th>Sujet</th>
                                                <th>Matière</th>                                            
                                                <th>Trimestre</th>
                                                <th>Type</th>
                                                <th>Année</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% @visited_docs.each do |d| %>
                                            <% @document = Document.find_by_id(d.document_id) %>
                                                <tr>
                                                    <td class="text-oflo"><%= link_to @document.document_subject , @document %></td>
                                                    <td class="txt-oflo"><%= @document.document_course %></td>
                                                    <td><span class="badge badge-success badge-pill"><%= @document.document_trimestre %></span> </td>
                                                    <td class="txt-oflo"><%= @document.document_type %></td>
                                                    <td><span class="text-success"><%= @document.document_year %></span></td>
                                                </tr>

                                            <% end %>

                                        </tbody>

                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            </div>
            <!-- End MonPrepa Accueil -->



            <!-- Search Document -->
            <div class="row">
                <div class="col-lg-12">                  
                    <div id="search_section"  style="display: none ;">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                <center>
                                    <h4 class="card-title">Chercher un document</h4>
                                    <div class="">
                                        <%= form_tag welcome_for_documents_path, :method => 'get',  :id => "documents_search" ,:remote => true  do %>
                                                    <div class="col-md-12 text-center" style="margin:auto;">

                                                        <p> Type </p>
                                                        <p>    <%= text_field_tag :search_type, params[:search_type] , class: 'form-control'  %> </p>
                                                        <p> Cours </p>
                                                        <p>    <%= text_field_tag :search_course, params[:search_course] , class: 'form-control'  %> </p>
                                                        <p> Année </p>
                                                        <p>    <%= text_field_tag :search_year, params[:search_year] , class: 'form-control'  %> </p>

                                                             <%= submit_tag 'Chercher', :id => 'search_button' , :onclick => 'display_documents()' , class: 'btn btn-success' %>  <br />
                                                    </div>
                                        <% end %>
                                    </div>
                                </center>
                                   <div class="table-responsive">
                                        <div id="get_searched_documents" style="display: none;">
                                            <div id='documents' class="col-md-12 text-center" style="margin:auto;">
                                                <%= render 'user_search_documents' %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>                  
                </div>   
            </div> 
            <!-- End Search Document -->


            <!-- Course Section -->
            <div class="row">
                <div class="col-lg-12">                  
                    <div id="course_matter"  style="display: none">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Sélectionner une matière</h4>
                                    <a href="javascript:void(0)" class="btn m-t-10 m-r-5 btn-rounded btn-outline-success">Math</a>
                                    <a href="javascript:void(0)" class="btn m-t-10 m-r-5 btn-rounded btn-outline-success">Physique</a>                                                 
                                    <a href="javascript:void(0)" class="btn m-t-10 m-r-5 btn-rounded btn-outline-success">Technique</a>                                                
                                    <a href="javascript:void(0)" class="btn m-t-10 m-r-5 btn-rounded btn-outline-success">Français</a>
                                </div>   
                            </div>                                              
                        </div>
                    </div>
                </div>
            </div>            
            <!-- End Course Section-->


            <!-- Preferred documents Section -->
            <div class="row">
                <div class="col-lg-12">
                    <div id="favori_section"  style="display: none">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Mes documents préférés</h4>
                                <div class="table-responsive">
                                    <table class="table" id="myTable_preferred_docs_section">
                                    
                                        <thead>
                                            <tr>
                                                <th>Sujet</th>
                                                <th>Matière</th>                                            
                                                <th>Trimestre</th>
                                                <th>Type</th>
                                                <th>Année</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% @preferred_docs.each do |d| %>
                                            <% @document = Document.find_by_id(d.document_id) %>
                                                <tr>
                                                    <td class="text-oflo"><%= link_to @document.document_subject , @document %></td>
                                                    <td class="txt-oflo"><%= @document.document_course %></td>
                                                    <td><span class="badge badge-success badge-pill"><%= @document.document_trimestre %></span> </td>
                                                    <td class="txt-oflo"><%= @document.document_type %></td>
                                                    <td><span class="text-success"><%= @document.document_year %></span></td>
                                                </tr>

                                            <% end %>

                                        </tbody>

                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Preferred documents Section -->

            <!-- Visited documents Section -->
            <div class="row" >
                <div class="col-lg-12">
                    <div id="historique_section" style="display: none;" >
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Mes documents visités</h4>
                                <div class="table-responsive">
                                    <table class="table" id="myTable_visited_docs_section">
                                    
                                        <thead>
                                            <tr>
                                                <th>Sujet</th>
                                                <th>Matière</th>                                            
                                                <th>Trimestre</th>
                                                <th>Type</th>
                                                <th>Année</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% @visited_docs.each do |d| %>
                                            <% @document = Document.find_by_id(d.document_id) %>
                                                <tr>
                                                    <td class="text-oflo"><%= link_to @document.document_subject , @document %></td>
                                                    <td class="txt-oflo"><%= @document.document_course %></td>
                                                    <td><span class="badge badge-success badge-pill"><%= @document.document_trimestre %></span> </td>
                                                    <td class="txt-oflo"><%= @document.document_type %></td>
                                                </tr>

                                            <% end %>

                                        </tbody>

                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Visited documents Section -->



            <!-- Help Section -->
            <div class="row" >
                <div class="col-lg-12">                  
                    <div id="aide_section" style="display: none;" >
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Aide</h4>
                                        <div id="accordion2" role="tablist" class="minimal-faq" aria-multiselectable="true">
                                        <div class="card m-b-0">
                                            <div class="card-header" role="tab" id="headingOne11">
                                                <h5 class="mb-0">
                                                <a class="link" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne11" aria-expanded="true" aria-controls="collapseOne11">
                                                  Q1. How can i purchase this admin ?
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseOne11" class="collapse show" role="tabpanel" aria-labelledby="headingOne11">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card m-b-0">
                                            <div class="card-header" role="tab" id="headingTwo22">
                                                <h5 class="mb-0">
                                                <a class="collapsed link" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo22" aria-expanded="false" aria-controls="collapseTwo22">
                                                  Q2. How to modify Navigation?
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseTwo22" class="collapse" role="tabpanel" aria-labelledby="headingTwo22">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card m-b-0">
                                            <div class="card-header" role="tab" id="headingThree33">
                                                <h5 class="mb-0">
                                                <a class="collapsed link" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree33" aria-expanded="false" aria-controls="collapseThree33">
                                                  Q3. How to get yearly Support?
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseThree33" class="collapse" role="tabpanel" aria-labelledby="headingThree33">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>   
                            </div>                                              
                        </div>
                    </div>
                </div>
            </div>            
            <!-- End Help Section-->

            <!-- Contact section -->
            <div class="col-lg-12" >
                    <div id="contact_section" style="display: none;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Contact</h4>
                                <div class="table-responsive">


                                    
                                    <section id="contact_1">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 text wow fadeInRight" data-wow-delay="1500ms" data-wow-duration="1500ms">
                                                    <!-- Right Side Title -->
                                                    <h4>Nous sommes heureux de vous aider</h4>
                                                    <!-- Text -->
                                                    <p class="m-b-40">L'équipe MonPrepa sera disponible pour répondre à vos questions.</p>
                                                    <!-- Address -->
                                                    <h5><span class="ti-location-pin"></span> Route Gremda Km 0.5, Immeuble Medina Centre</h5>
                                                    <!-- Phone -->
                                                    <h5><span class="ti-mobile"></span> +216 27 34 55 21</h5>
                                                    <!-- Email -->
                                                    <h5><span class="ti-email"></span> contact@monprepa.tn</h5>
                                                    <!-- Timing -->
                                                    <h5><span class="ti-time"></span> Lundi jusqu'à Samedi de 08 AM à 18 PM</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    

                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- End contact section -->