
<!-- Check if user is signed in  -->
<% if user_signed_in? %>

<div class="row">
<div class="col-md-9 col-sm-3 col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Document</h4>
            <h6 class="card-subtitle">Cours Math :  <code> Probabilité </code></h6>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#enonce" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Enoncé</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#corrige" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Corrigé</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#video" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Videos</span></a> </li>
            </ul>
            <!-- Tab panes -->
            
              <div class="tab-content tabcontent-border">
                <% if not @document.pdf_file_enonce_file_size.nil? %>
                  <div class="tab-pane active" id="enonce" role="tabpanel">
                      <div class="p-20">
                          <!-- <p><iframe src=<%#= @doc_url %>  height="780" width="100%" > </iframe></p> -->
                      </div>
                  </div>
                <% end %>

                <% if not @document.pdf_file_corrige_file_size.nil? %>
                  <div class="tab-pane  p-20" id="corrige" role="tabpanel">
                    <iframe src=<%= @document.pdf_file_corrige %>  height="780" width="100%" > </iframe>  
                  </div>
                <% end %>

                  <div class="tab-pane p-20" id="video" role="tabpanel">

                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lQOLrycmXC4?enablejsapi=1&amp;autoplay=1" height="780" width="100%"  frameborder="0" allowfullscreen=""></iframe>

                  </div>
              </div>
            
        </div>
    </div>
</div>
</div>
<%#= @document.get_upvotes.size %>
<%#= @document.get_downvotes.size %><br>

<%#= @document.liked_by current_user %>
<%#= current_user.likes @document %>

<%= link_to  like_document_path(@document), method: :put , class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-star"></i>
<% end %>
<br>
<%= link_to  dislike_document_path(@document), method: :put , class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-star-empty"></i>
<% end %>
<br>
<div class="col-md-9 col-sm-3 col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ajouter un commentaire</h5>
            <div class="card-body border-top">
                <div class="chat-content">
                  <%= form_for [@document, Comment.new] do |f| %>
                    <%= f.text_area :comment_text ,rows: "3" , placeholder:  'Ajouter commentaire'  , class: "form-control"  %>
                    <br/>
                      <%= f.submit 'Ajouter commentaire' , class: "btn btn-success pull-right" %>
                  <% end %>
                </div>
            </div>

            <div class="chat-box">
                <!--chat Row -->
                <ul class="chat-list">
                    <!--chat Row -->
                    <% if not @document.comments.count == 0 %>
                      <%  @document.comments.last(3).reverse.each do |comment| %>
                          <li>
                            <% if user_signed_in? %>
                              <% if not User.find_by_id(comment.user_id).avatar.url.nil? %>
                                <div class="chat-img"><%= image_tag User.find_by_id(comment.user_id).avatar.url(:thumb), alt: "user" , class: "img-circle" , width: "30" %>
                                </div>
                              <% else %>
                                <div class="chat-img"><%= image_tag "assets/users/8.jpg", class: "img-circle" , width: "60"%>
                                </div>
                              <% end %>
                            <% end %>
                              <div class="chat-content">
                                  <h5><%= User.find_by_id(comment.user_id).first_name %></h5>
                                  <div class="box bg-light-info"><%= comment.comment_text %> </div>
                              </div>
                              <div class="chat-time">Il y a <%= time_ago_in_words(comment.created_at) %></div>
                          </li>
                      <% end %>
                      
                      <% else %>
                      Aucun commentaire
                    <% end %>
                </ul>
            </div>
        </div>
        
    </div>
</div>

<% else %>

    <%= render 'documents/login_register'%>

<% end %> 



